@import "../../src/sass.scss";

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.parent-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  .nodes-panel {
    flex: 0 0 8rem;
    display: flex;
    flex-direction: column;
    max-width: 10rem;
    background: rgb(120, 120, 120);
    border-right: 2px solid black;
    padding: 1rem;

    .node-wrapper {
      flex: 0 0 auto;
      margin-bottom: 1rem;

      .basic-node {
        width: 100px;
      }
    }
  }

  .diagram-drop-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .react-js-diagrams-canvas {
      flex: 1;
      background: rgb(60, 60, 60);
    }
  }

  .controls {
    flex: 0 0 20rem;
    max-width: 20rem;
    overflow: auto;
  }
}

// Diagram SASS
.port{
  width: 15px;
  height: 15px;
  background: rgba(white,0.1);
  &:hover,&.selected{
    background: rgb(192,255,0);
  }
}

.basic-node {
  background-color: rgb(30,30,30);
  border-radius: 5px;
  font-family:Arial;
  color: white;
  border: solid 2px black;
  overflow: visible;
  font-size: 11px;
  box-shadow: 0 0 10px rgba(black,0.5);

  .title{
    background: rgba(black,0.3);
    display: flex;
    white-space: nowrap;
    >*{
      align-self: center;
    }

    .fa{
      padding: 5px;
      opacity: 0.2;
      cursor: pointer;

      &:hover{
        opacity: 1.0;
      }
    }

    .name{
      flex-grow: 1;
      padding: 5px 5px;
    }
  }

  .ports{
    display: flex;
    background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));

    .in, .out{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .in-port,.out-port{
      display: flex;
      margin-top: 1px;
      >*{
        align-self: center;
      }
      .name{
        padding: 0 5px;
      }
    }

    .out-port{
      justify-content: flex-end;
      .name{
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}

